@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  src: local('Pacifico'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  src: local('Dosis'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v19/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMEbK0UPg.woff2) format('woff2');
  font-display: swap;
}

  body{
    font: 15px/1.5 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eee;
    font-display: swap;
  }

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  ul{
    margin: 0;
    padding: 0;
  }

  header{
    background: #00838F;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #EB6F00 4px solid;
  }

  header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }

  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }

  header #branding{
    float: left;
  }
  header #branding h1{
    margin: 5px;
  }

  header nav{
    float: right;
    margin-top: 10px;
  }

  header .highlight, header .current a{
    color: #EB6F00;
    font-weight: bold;
  }

  header a:hover{
    color: #FDAD00;
    font-weight: bold;
  }

  #showcase{
    min-height: 500px;
    background: url('../img/showcase.webp') no-repeat;
    text-align: center;
    color: #fff;
  }
  #showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }
  #showcase p{
    font-size: 20px;
  }

  #news{
    text-align: center;
  }
  #news h1{
    padding: 5px;
    font-size: 30px;
    font-weight: 100;
  }
  #news p{
    padding: 0;
    font-size: 24px;
  }

  footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #EB6F00;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
  }
