  @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    src: local('Pacifico'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: 'Dosis';
    font-style: normal;
    src: local('Dosis'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v19/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMEbK0UPg.woff2) format('woff2');
    font-display: swap;
  }

  body{
    font: 15px/1.5 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eee;
    font-display: swap;
  }

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  ul{
    margin: 0;
    padding: 0;
  }

  header{
    background: #00838F;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #EB6F00 4px solid;
  }

  header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }

  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }

  header #branding{
    float: left;
  }
  header #branding h1{
    margin: 5px;
  }

  header nav{
    float: right;
    margin-top: 10px;
  }

  header .highlight, header .current a{
    color: #EB6F00;
    font-weight: bold;
  }

  header a:hover{
    color: #FDAD00;
    font-weight: bold;
  }

  #about{
  }
  #about h1{
    text-align: center;
    font-size: 42px;
    padding: 30px 0 0 0;
  }
  #about h2{
    text-align: center;
    font-size: 28px;
  }
  #about p{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: justify;
    font-size: 22px;
    width: 85%;
    max-width: 700px;
  }
  #about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 85%;
    max-width: 700px;
    padding: 30px 0 10px 0;
  }

  #team{
    overflow: hidden;
    text-align: center;
    padding: 60px;
    background-color: #00838F;
  }
  #team h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #fff;
    font-size: 40px;
  }
  #team img{
    display: inline-block;
    margin: 0 40px;
    height: auto;
    max-width: 280px;
    width: 80%;
    overflow: hidden;
    border-radius: 50%
  }
  #team a img{
    filter: grayscale(100%);
  }
  #team a:hover > img{
    filter: none;
  }
  .section{
    width: 85%;
    font-size: 30px;
    margin: auto;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
  }
  .section span{
    font-family: 'Dosis', cursive;
    font-size: 30px;
  }
  .section:target{
    height: auto;
  }
  .name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
  }

  footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #EB6F00;
  }

  h1 {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
  }
